body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    margin: 0;
    padding: 0;
}

h2, h3 {
    color: #333;
}

.container {
    width: 400px;
    background: white;
    margin: 80px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
    text-align: center;
}

input {
    padding: 10px;
    width: 90%;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background: #4facfe;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #00c6ff;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #f2f2f2;
    margin: 5px 0;
    padding: 8px;
    border-radius: 5px;
}

li button {
    background: red;
    float: right;
    padding: 2px 8px;
}

.bar {
    width: 100%;
    background: #ddd;
    height: 10px;
    border-radius: 5px;
    margin-top: 5px;
}

.fill {
    height: 10px;
    background: #4facfe;
    border-radius: 5px;
}